<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale= 0.8">
<link rel = "stylesheet" href = "../static/testerStyle.css">
<link rel = "stylesheet" href = "../static/Menu.css">
<link rel = "stylesheet" href = "../static/gameCard.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<style>

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.columnPerformance {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .columnPerformance {
    width: 100%;
    display: block;
  }
  .columnStats {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
  }
}

.cardPerformance {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ff751a;
}

.containerPerformance {
  padding: 0 16px;
}

.containerPerformance::after, .rowPerformance::after {
  content: "";
  clear: both;
  display: table;
}


.buttonPerformance {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.buttonPerformance:hover {
  background-color: #555;
}

  th, td {
    font-size: 30px;
    color: #333;
    text-decoration-color: #333;
  }

  table{
    width: 100%;
    
  }
  .dropDatabtn {
  background-color: #808080;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdownData {
  position: relative;
  display: inline-block;
}

.dropdownData-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownData-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownData-content a:hover {background-color: #ddd;}

.dropdownData:hover .dropdownData-content {}

.dropdownData:hover .dropDatabtn {}

.matchResult {
      float: center;
      width: 480px;
      height: 100px;
      padding: 0 5px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 120px;
    }

    .matchStats {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      text-align: center;
      background-color: #ff751a;
      color: white;
      height: 200px;
      width: auto;
      border-radius: 4px;

    }
</style>
</head>


<body id = "body" style = "background-image: url('../static/home_background3.jpg');" class = "responsive">



<div class="navbar">
<div style = "margin-left: 10px;cursor: pointer;" onClick = "window.location.href = '/';" >
    <h1 style = "color: #f2f2f2; text-shadow: 0.3px 0.3px #333;"> Oxy Analytics</h1>
    <p style = "color: #f2f2f2; text-shadow: 0.3px 0.3px #333; margin-top: -15px;"><b>Occidental College's student-run sports analysis service</b></p>
</div>

  <a href="/">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Analytics 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div class="header">
        <h2>Analytics Menu</h2>
      </div>   
      <div class="row">
        <div class="column">
          <h3 class = "menuSection" onClick = "window.location.href = '../analysis-season/playerSelection';">Data Selection</a></h3>
          <a href = "../analysis-season"> Team </a>
          <a href = "../analysis-home/playerSelection">Player Selection</a>
        </div>
        <div class="column">
          <h3 class = "menuSection">Analysis Selection</h3>
          <a href="../analysis-season">Seasonal Analysis</a>
          <a href="../analysis-game">per Game Analysis</a>
          <a href="../analysis-season/teamVisuals">Visual Analysis</a>
        </div>
        <div class="column">
          <h3 class = "menuSection">Reference Material</h3>
          <a href="../analysis-home">Analytics Explained</a>
          <a href="../analysis-home/metric_index">Performance Metric Index</a>
          <a href="../externalReference">External Resources</a>
        </div>
      </div>
    </div>
  </div> 
  <a href="../about">About</a>
  </div>

  
<div class="navbar" style = "background-color: #333;">
  <div class="dropdown">
    <button class="dropbtn">Player Selection 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" style = "padding-bottom: 500px;">
      <div class="header">
        <h2>Choose a player to see their visual breakdown</h2>
      </div>   
      <div class="row">
        <div class="column">
          <h3 class = "menuSection" onClick = "window.location.href = '../analysis-season/playerSelection';">Goalkeepers/Defenders</a></h3>
<a href = "analysis-season/teamVisuals"> Team </a>
  <a href="../analysis-home/playerBreakdown-benHarding">Ben Harding - 0</a>
  <a href="../analysis-home/playerBreakdown-jacobGitin">Jacob Gitin - 00</a>
  <a href="../analysis-home/playerBreakdown-scottDrazan">Scott Drazan -01</a>
  <a href="../analysis-home/playerBreakdown-rileyMccabe">Riley Mccabe - 02</a>
    <a href="../analysis-home/playerBreakdown-davidPaine">David Paine - 05</a>
  <a href="../analysis-home/playerBreakdown-mattAnzalone">Matthew Anzalone - 11</a>
    <a href="../analysis-home/playerBreakdown-jackMeeker">Jack Meeker - 13</a>
      <a href="../analysis-home/playerBreakdown-milesRobertson">Miles Robertson - 23</a>
<a href="../analysis-home/playerBreakdown-neythonStreitz">Neython Streitz - 25</a>
  <a href="../analysis-home/playerBreakdown-benTucker">Ben Tucker - 27</a>
  <a href="../analysis-home/playerBreakdown-lukeHaas">Luke Haas - 30</a>
  <a href="../analysis-home/playerBreakdown-ericDacosta">Eric Dacosta - 31</a>


  
        </div>
        <div class="column">
          <h3 class = "menuSection">Midfielders</h3>
           <a href="../analysis-home/playerBreakdown-spencerShearer">Spencer Shearer - 03</a>
            <a href="../analysis-home/playerBreakdown-ryanWilson">Ryan Wilson - 04</a>
            <a href="../analysis-home/playerBreakdown-nicEble">Nicolas Eble - 06</a>
         <a href="../analysis-home/playerBreakdown-benSimon">Ben Simon - 08</a>
          <a href="../analysis-home/playerBreakdown-jasperBrannon">Jasper Brannon - 10</a>
          <a href="../analysis-home/playerBreakdown-adrianParedes">Adrian Paredes - 14</a>
  <a href="../analysis-home/playerBreakdown-loganMyers">Logan Myers - 16</a>
    <a href="../analysis-home/playerBreakdown-jakeFoster">Jake Foster - 18</a>
  <a href="../analysis-home/playerBreakdown-joeySchwartz">Joey Schwartz - 19</a>
   <a href="../analysis-home/playerBreakdown-tyeHernandez">Tye Hernandez - 22</a>

        </div>
        <div class="column">
          <h3 class = "menuSection">Forwards</h3>
          <a href="../analysis-home/playerBreakdown-mattTeplitz">Matthew Teplitz - 07</a>
  <a href="../analysis-home/playerBreakdown-marcBlumenfeld">Marcus Blumenfeld - 09</a>
    <a href="../analysis-home/playerBreakdown-seanKim">Sean Kim - 12</a>
      <a href="../analysis-home/playerBreakdown-tylerWray">Tyler Wray - 17</a>
      <a href="../analysis-home/playerBreakdown-jazzHenry">Jazz Henry - 20</a>
  <a href="../analysis-home/playerBreakdown-teaganJarvis">Teagan Jarvis - 21</a>
    <a href="../analysis-home/playerBreakdown-calebJordening">Caleb Jordening - 24</a>
        </div>
      </div>
    </div>
  </div> 
  </div>


<div class="dropdownData">
  <button class="dropDatabtn" style = "background-color: #808080; margin-top: 5px; padding-right: 95px; padding-left:100px;">Data Breakdown
  <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdownData-content">
    <a href="../analysis-season/team-SeasonBreakdown">Team Performance (Overall)</a>
    <a href="../analysis-season/playerBreakdown">per Player Performance</a>
  </div>
</div>

  <div class="matchResult" style = "margin-top: 20px;">
    <div class="matchStats">
      <h1 align = "center" style = "text-decoration: underline; font-size: 30px; margin-bottom: 35px;">Season Stats (16 Games ToW)</h1>
      <h1 style = "font-size: 28px; color: #333;"><b>Record: 9-4-3 (W-L-D)</b></h1>
    </div>
  </div>

<div class = "columnStats">
<div class = "cardStats" style = "border-radius: 4px;">
<h1 align = "center" style = "font-size: 36px; text-decoration: underline;">Actual/Expected Stats</h1>
<table style = "margin-bottom: 20px;">
  <tr>
    <th align = "left" style="width:25%"></th>
    <th>Actual</th>
    <th>Expected</th>
  </tr>
  <tr>
    <td>Points</td>
    <td  style = "text-align: center; padding: 6px;"><b>30</b></td>
    <td  style = "text-align: center; padding: 6px;">22</td>
  </tr>
  <tr>
    <td>Goals</td>
    <td style = "text-align: center; padding: 6px;">26</td>
    <td style = "text-align:center;   padding: 6px;"><b>34.25</b></td>
  </tr>
  <tr>
    <td>Goalsp90</td>
    <td style = "text-align: center; padding: 6px;"><b>1.62</b></td>
    <td style = "text-align: center; padding: 6px;">2.14</td>
  </tr>

<table style = "margin-bottom: 20px;">
<hr style = "border-top: 5px solid #333; border-radius: 4px;">

  <tr>
    <th align = "left" style="width:25%"></th>
    <th>Total</th>
    <th>on Target</th>
  </tr>
  <tr>
    <td>Shots</td>
    <td  style = "text-align: center; padding: 6px;"><b>219</b></td>
    <td  style = "text-align: center; padding: 6px;">84</td>
  </tr>
  <tr>
  <td>Shotsp90</td>
    <td  style = "text-align: center; padding: 6px;"><b>13.69</b></td>
    <td  style = "text-align: center; padding: 6px;">5.25</td>
  </tr>
</table>
  </div>
</div>

<div class="columnStats" style = "margin-bottom: 30px;">
  <div class="cardStats" style = "border-radius: 4px;">
    <h1 align = "center" style = "font-size: 36px; text-decoration: underline;">Additional Stats</h1>
  
  <table style = "margin-bottom: auto; margin-top: 30px;" align = "left">
  <tr>
    <td style = "text-decoration: underline" align = "left">Conv. Rate:</td>
    <td  style = "text-align: center; padding: 10px;"><b>12%</b></td>
  </tr>
  <tr>
  <td style = "text-decoration: underline" align = "left">xG Conv. Rate:</td>
    <td  style = "text-align: center; padding: 10px;"><b>76%</b></td>
  </tr>
  <tr>
  <td style = "text-decoration: underline" align = "left">Chance Quality:</td>
    <td  style = "text-align: center; padding: 10px;"><b>15.65%</b></td>
  </tr>

  <tr>
  <td style = "text-decoration: underline" align = "left">Goal Difference:</td>
    <td  style = "text-align: center; padding: 10px;"><b>+13</b></td>
  </tr>
</table>
  </div>
</div>
  
<div>
<h2 align = "center" style = " text-decoration: underline; text-shadow: 2px 2px #333; color: #f2f2f2;">Shot Location Breakdown</h2>
<h3 align = "center" style = " text-decoration: underline; text-shadow: 2px 2px #333; color: #f2f2f2;">Percentage of total shots taken from each location on the field</h3>
<img class = "columnCharts" src="../static/ShotPerc.png"  alt="Adrian Paredes Profile" align = "center" style = "height: 75%; width: 75%; margin-left: auto; margin-right: auto; float: center;">
</div>


<h2 align = "center" style = "margin-top: 70px; text-decoration: underline; text-shadow: 2px 2px #333; color: #f2f2f2;">Player Performance Overview: Best and Worst</h2>


<div>
<h2 align = "left" style = "text-decoration: underline; margin: 0px 0px 10px 20px; text-decoration: underline; text-shadow: 2px 2px #333; color: #f2f2f2;">Highest</h2>

<div class="rowPerformance">
  <div class="columnPerformance">
    <div class="cardPerformance">
      <div class="containerPerformance">
      <img src="https://www.oxyathletics.com/sports/msoc/2019-20/photos/oxy-msoc-headshots-57.jpg" alt="Jane" style="width:100%; height: auto; margin-top: 10px;">

        <h3 style = "text-decoration: underline">Expected Goals</h3>
        <h3> Adrian Paredes - 9.92 xG </h3>
        <p>Highest xG among all qualified shooters (10+ shots).</p>
        <p><button class="buttonPerformance" style = "cursor: hand pointer;" onClick = "window.location.href = '../analysis-home/playerBreakdown-adrianParedes';"> Adrian's Full Stats</button></p>
      </div>
    </div>
  </div>

<div class="rowPerformance">
  <div class="columnPerformance">
    <div class="cardPerformance">
      <div class="containerPerformance">
      <img src="https://www.oxyathletics.com/sports/msoc/2019-20/photos/oxy-msoc-headshots-45.jpg" alt="Jane" style="width:100%; height: auto; margin-top: 10px;">

        <h3 style = "text-decoration: underline">xG Conversion Rate</h3>
        <h3>Nicolas Eble  -  93% </h3>
        <p> Highest xG efficiency among qualified scorers (2+ goals).</p>
      <button class="buttonPerformance" style = "cursor: hand pointer;" onclick = "window.location.href = '../analysis-home/playerBreakdown-nicEble';">Nicolas's Full Stats</button></p>
      </div>
    </div>
  </div>


<div class="rowPerformance">
  <div class="columnPerformance">
    <div class="cardPerformance">
      <div class="containerPerformance">
      <img src="https://www.oxyathletics.com/sports/msoc/2019-20/photos/oxy-msoc-headshots-39.jpg" alt="Jane" style="width:100%; height: auto; margin-top: 10px;">

        <h3 style = "text-decoration: underline">Goals-to-Game Ratio</h3> 
      <h3>Tyler Wray - 0.67 aGp90</h3>
      <p> Highest p90 scoring efficiency among qualified scorers (2+ goals).</p>
      <p><button class = "buttonPerformance" onclick = "window.location.href = '../analysis-home/playerBreakdown-tylerWray';">Tyler's Full Stats</button></p>
      </div>
    </div>
  </div>  
  
<div class="rowPerformance">
  <div class="columnPerformance">
    <div class="cardPerformance">
      <div class="containerPerformance">
      <img src="https://www.oxyathletics.com/sports/msoc/2019-20/photos/oxy-msoc-headshots-39.jpg" alt="Jane" style="width:100%; height: auto; margin-top: 10px;">

      <h3 style = "text-decoration: underline">Shot Conversion Rate</h3>
      <h3> Tyler Wray - 40%</h3>
      <p> Highest goal-scoring efficiency among qualified scorers (2+ goals).</p>
      <p><button class = "buttonPerformance" onclick = "window.location.href = '../analysis-home/playerBreakdown-tylerWray';">Tyler's Full Stats</button></p>
      </div>
    </div>
  </div>
  
      
<div class="rowPerformance">
  <div class="columnPerformance">
    <div class="cardPerformance">
      <div class="containerPerformance">
      <img src="https://www.oxyathletics.com/sports/msoc/2019-20/photos/oxy-msoc-headshots-11.jpg" alt="Jane" style="width:100%; height: auto; margin-top: 10px;">

        <h3 style = "text-decoration: underline">True Performance</h3> 
        <h3> Jack Meeker - 2 aG : 1.03 xG</h3>
      <p> Most efficient xG v aG performance among qualified scorers (2+ goals).</p>
      <p><button class = "buttonPerformance" onclick = "window.location.href = '../analysis-home/playerBreakdown-jackMeeker';">Jacks's Full Stats</button></p>
      </div>
    </div>
  </div>
</div>

<div>
<h2 align = "left" style = "text-decoration: underline; margin: 20px 0px 10px 20px; text-decoration: underline; text-shadow: 2px 2px #333; color: #f2f2f2;">Lowest</h2>

<div class="rowPerformance">
  <div class="columnPerformance">
    <div class="cardPerformance">
      <div class="containerPerformance">
      <img src="https://www.oxyathletics.com/sports/msoc/2019-20/photos/oxy-msoc-headshots-43.jpg" alt="Jane" style="width:100%; height: auto; margin-top: 10px;">
       <h3 style = "text-decoration: underline"> Expected Goals (xG)</h3>
      <h3> David Paine - 0.81 xG</h3>
      <p>Fewest xG among all qualified shooters (10+ shots).</p>
      <p><button class = "buttonPerformance" onclick = "window.location.href = '../analysis-home/playerBreakdown-davidPaine';">David's Full Stats</button></p>
      </div>
    </div>
  </div>

<div class="rowPerformance">
  <div class="columnPerformance">
    <div class="cardPerformance">
      <div class="containerPerformance">
      <img src="https://www.oxyathletics.com/sports/msoc/2019-20/photos/oxy-msoc-headshots-15.jpg" alt="Jane" style="width:100%; height: auto; margin-top: 10px;">

      <h3 style = "text-decoration: underline">xG Conversion Rate</h3>
      <h3>Marcus Blumenfeld - 58%</h3>
      <p>Lowest xG efficiency among qualified scorers (2+ goals).</p>
      <p><button class = "buttonPerformance" onclick = "window.location.href = '../analysis-home/playerBreakdown-marcBlumenfeld';">Marcus's Full Stats</button></p>

      </div>
    </div>
  </div>


<div class="rowPerformance">
  <div class="columnPerformance">
    <div class="cardPerformance">
      <div class="containerPerformance">
      <img src="https://www.oxyathletics.com/sports/msoc/2019-20/photos/oxy-msoc-headshots-15.jpg" alt="Jane" style="width:100%; height: auto; margin-top: 10px;">

        <h3 style = "text-decoration: underline">Goals-to-Game Ratio</h3>
      <h3>Marcus Blumenfeld - 0.20 aGp90</h3>
      <p>Lowest p90 scoring efficiency among qualified scorers (2+ goals).</p>
      <p><button class = "buttonPerformance" onclick = "window.location.href = '../analysis-home/playerBreakdown-marcBlumenfeld';">Marcus's Full Stats</button></p>
      </div>
    </div>
  </div>  
  
<div class="rowPerformance">
  <div class="columnPerformance">
    <div class="cardPerformance">
      <div class="containerPerformance">
      <img src="https://www.oxyathletics.com/sports/msoc/2019-20/photos/oxy-msoc-headshots-15.jpg" alt="Jane" style="width:100%; height: auto; margin-top: 10px;">

        <h3 style = "text-decoration: underline">Shot Conversion Rate</h3>
      <h3>Marcus Blumenfeld - 10%</h3>
      <p>Lowest goal-scoring efficiency among qualified scorers (2+ goals).</p>
      <p><button class = "buttonPerformance" onclick = "window.location.href = '../analysis-home/playerBreakdown-marcBlumenfeld';">Marcus's Full Stats</button></p>

      </div>
    </div>
  </div>
  
<div class="rowPerformance">
  <div class="columnPerformance">
    <div class="cardPerformance">
      <div class="containerPerformance">
      <img src="https://www.oxyathletics.com/sports/msoc/2019-20/photos/oxy-msoc-headshots-57.jpg" alt="Jane" style="width:100%; height: auto; margin-top: 10px;">

       <h3 style = "text-decoration: underline">True Performance</h3>
      <h3> Adrian Paredes - <br>6 aG : 9.92 xG </h3>
      <p> Least efficient xG v aG performance among qualified scorers (2+ goals).</p>
      <p><button class = "buttonPerformance" onclick = "window.location.href = '../analysis-home/playerBreakdown-adrianParedes';">Adrian's Full Stats</button></p>
      </div>
    </div>
  </div>


</body>
</html> 